apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://victoriametrics:8428
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: false

  - name: OTEL Collector Metrics
    type: prometheus
    access: proxy
    url: http://otel-collector:8889
    editable: false
    jsonData:
      timeInterval: "15s"
